<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FDToolBox.work_dir" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDToolBox.outro" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDToolBox.intro2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDToolBox.intro" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDToolBox.logo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDToolBox.render_metod" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FDToolBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FDToolBox.work_dir>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </FDToolBox.work_dir>
        <FDToolBox.outro>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </FDToolBox.outro>
        <FDToolBox.intro2>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </FDToolBox.intro2>
        <FDToolBox.intro>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </FDToolBox.intro>
        <FDToolBox.logo>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </FDToolBox.logo>
        <FDToolBox.render_metod>
            <setting name="metod" serializeAs="String">
                <value>0</value>
            </setting>
        </FDToolBox.render_metod>
        <FDToolBox.Properties.Settings>
            <setting name="source_path" serializeAs="String">
                <value />
            </setting>
            <setting name="sub_path" serializeAs="String">
                <value />
            </setting>
            <setting name="audio_path" serializeAs="String">
                <value />
            </setting>
            <setting name="logo_path" serializeAs="String">
                <value />
            </setting>
            <setting name="intro_path" serializeAs="String">
                <value />
            </setting>
            <setting name="intro2_path" serializeAs="String">
                <value />
            </setting>
            <setting name="outro_path" serializeAs="String">
                <value />
            </setting>
            <setting name="working_dir" serializeAs="String">
                <value />
            </setting>
        </FDToolBox.Properties.Settings>
    </userSettings>
</configuration>